*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(50, 8, 78);
}
.logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: -950px;
}
#bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    pointer-events: none;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
    z-index: 999;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: rgb(175, 196, 255);
}
.contact .content p
{
    color: rgb(255, 255, 255);
    font-size: 15px;
    justify-content: center;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}
.contactform
{
    width: 40%;
    padding: 40px;
    background: white;
    z-index: 999;
}
.contactform h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #3099fc;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.media-icons
{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.media-icons a
{
    color: rgb(221, 215, 255);
    font-size: 1.5em;
    transition: 0.3s ease;
}
.media-icons a:not(:last-child)
{
    margin-bottom: 20px;
}
.media-icons a:hover
{
    transform: scale(1.3);
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");