*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poopins,sans-serif;
}
header
{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0,5s ease;
}
header .brand
{
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation
{
    position: relative;
}
header .navigation .navigation-items a
{
    position: relative;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    padding: 6px 15px;
}
header .navigation .navigation-items a:hover,
header .navigation .navigation-items a:active
{
    color: rgb(31, 31, 31);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
header .navigation .navigation-items a:before
{
    content: '';
    position: absolute;
}
header .navigation .navigation-items a:hover:before
{
    width: 100%;
}
section
{
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}
#text1{
    color: rgb(255, 255, 255);
    position: absolute;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 999;;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    120%{
        left: -400%;
    }
    0%{
        left: 0%;
    }
}
#slider
{
    overflow: hidden;
}
#slider:before
{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(27, 33, 37, 0.39);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#slider figure img{
    width: 20%;
    float: left;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}
.about-container{
    width: 80%;
    height: 330px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -5% auto 20px auto;
    position: relative;
    z-index: 999;
    align-items: center;
    background-color: rgb(84, 194, 255);
}
#bgdata{
    position: absolute;
    width: 50%;
    height: 330px;
    left: 400px;
    box-shadow: none;
}
.about-container img{
    height: 250px;
    position: relative;
    margin-left: 70px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgb(71, 71, 71);
}
.about-text{
    width: 550px;
    margin-left: 20px;
    font-weight: 200px;
}
.about-text h1{
    font-family: 'Rampart One', cursive;
    letter-spacing: 2px;
    color: rgb(155, 34, 34);
}
.about-text h2{
    font-family: 'Indie Flower', cursive;
}
.about-text p{
    font-family: 'Indie Flower', cursive;
}
.about-text a
{
    z-index: 888;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: 0.5s ease;
}
.about-text a
{
    color: rgb(26, 26, 26);
    font-size: 1.9em;
    transition: 0.3s ease;
}
.about-text a:not(:last-child)
{
    margin-bottom: 20px;
}
.about-text a:hover
{
    transform: scale(1.2);
    color: rgb(255, 255, 255);
}
.about-container2{
    width: 80%;
    height: 330px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: 5px auto 20px auto;
    position: relative;
    z-index: 999;
    align-items: center;
    background-color: rgb(255, 193, 79);
}
.about-container2 img{
    height: 250px;
    position: relative;
    margin-left: 70px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgb(71, 71, 71);
}
.about-container3{
    width: 80%;
    height: 330px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: 5px auto 20px auto;
    position: relative;
    z-index: 999;
    align-items: center;
    background-color: rgb(84, 194, 255);
}
.about-container3 img{
    height: 250px;
    position: relative;
    margin-left: 70px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgb(71, 71, 71);
}
